<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>WebApp1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ServletView2</display-name>
    <servlet-name>ServletView2</servlet-name>
    <servlet-class>view.ServletView2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletView2</servlet-name>
    <url-pattern>/ServletView2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegularOffer1</display-name>
    <servlet-name>RegularOffer1</servlet-name>
    <servlet-class>view.RegularOffer1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegularOffer1</servlet-name>
    <url-pattern>/RegularOffer1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowCorporate</display-name>
    <servlet-name>ShowCorporate</servlet-name>
    <servlet-class>view.ShowCorporate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowCorporate</servlet-name>
    <url-pattern>/ShowCorporate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Showstatus</display-name>
    <servlet-name>Showstatus</servlet-name>
    <servlet-class>view.Showstatus</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Showstatus</servlet-name>
    <url-pattern>/Showstatus</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TakeOrder1</display-name>
    <servlet-name>TakeOrder1</servlet-name>
    <servlet-class>view.TakeOrder1</servlet-class>
    <init-param>
      <param-name>Query</param-name>
      <param-value>java:OracleDS</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>TakeOrder1</servlet-name>
    <url-pattern>/TakeOrder1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Order</display-name>
    <servlet-name>Order</servlet-name>
    <servlet-class>view.Order</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Order</servlet-name>
    <url-pattern>/Order</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowOrder</display-name>
    <servlet-name>ShowOrder</servlet-name>
    <servlet-class>view.ShowOrder</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowOrder</servlet-name>
    <url-pattern>/ShowOrder</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>Listener.ctxListener</listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>OrderClass</display-name>
    <servlet-name>OrderClass</servlet-name>
    <servlet-class>model.OrderClass</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderClass</servlet-name>
    <url-pattern>/OrderClass</url-pattern>
  </servlet-mapping>
</web-app>