<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Q2_java1_2150186/src/com/soft/q2/EventManagementSystem.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.soft.q2.EventManagementSystem"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Q2_java1_2150186"/>
</launchConfiguration>
