<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/custom.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

<script src="js/bootstrap.min.js"></script>
	<script src="js/angular.min.js"></script>
	<script src="js/app.js"></script>
	<script src="js/util/function.js"></script>
	<script src="js/filter/filters.js"></script>
	<script src="js/services/webservice.js"></script>
	<script src="js/controller/Searchcontroller.js"></script>
</head>
<body data-ng-app="solr" data-ng-controller="Searchcontroller">
	<div class="row searchBar">
			<div class="custom_search">
				<div class="col-md-10">
	      			<input type="text" class="form-control" id="usr" data-ng-model="search" data-ng-keyup="onkeypress($event.keyCode) || suggestion()"
	      			data-ng-focus="focus = true" data-ng-blur="focus = false;count=-1">
	      		</div>
	      		<div class="col-md-1 col-xs-3">
	      			<button type="button" class="btn  btn-cust-style"  data-ng-click="searching()"><span class="glyphicon glyphicon-search" ></span></button>
	    		</div>
    		</div>
    		<div class="search-sug" data-ng-show="search != '' && focus == true">
    			<div data-ng-repeat="facet in searchSuggestion"  data-ng-class="{'back-cust': $index == count}"  data-ng-mouseenter="setCount($index)" data-ng-mouseleave="setCount(-1)"><span style="padding-left:5px;">{{search}} in <span data-ng-class=" facet.val != 0 ? 'cust-color-green' : 'cust-color-gray'">{{facet.name}}</span><span class="pull-right" data-ng-show="$index == 0" style="font-size:12px;padding-right:5px;font-weight:400">search suggestion</span></span></div>
    		</div>
		</div>
</body>
</html>