<!DOCTYPE html>
<html ng-app="myApp">
<head>
<title>Angular Project</title>
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script src="script.js">
	
</script>
</head>
<body>
{{color}}
	<div w3-test-directive></div>
	<div ng-controller="myController">
		<form name="myForm">
			Email: <input type="email" name="myAddress" ng-model="text">
			<span ng-show="myForm.myAddress.$error.email">Not a valid
				e-mail address</span>
		</form>
		<li ng-repeat="n in names">
		{{n.name}}
		</li>
	</div>
</body>
</html>