.hidden {
	display: none;
}

.error {
	color: #f00;
}

.success {
	color: #0f0;
}

.row {
	margin: 12px 0px
}

.collapsable {
	display: inline-block;
	overflow: hidden;
	height: 0;
	transition: height 1s;
	-webkit-transition: height 1s;
	-moz-transition: height 1s;
	-o-transition: height 1s;
}

.collapsable.showMe {
	height: 100%;
}

@media ( min-width : 992px) {
	.equal {
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
	}
}

#head {
	background: #151515;
	padding: 0px;
	margin: 0px;
	border-bottom: 1px solid #999;
}

.input-group {
	display: inline-table;
	width: -webkit-fill-available;
}

/* .navbar {
	position: absolute;
	left: 0px;
	margin-bottom: 15px;
} */
.list-inline {
	padding-left: 10px;
}

/* .navbar-inverse {
	border-color: none;
}

#hideElement {
	border-radius: 18px;
	opacity: 0.8;
}

.navbar-inverse {
	border: none;
	opacity: 0.8;
	border-style: none;
} */
.landing #searchBox input, .landing #searchBox button {
	height: 50px;
}

body {
	padding: 0;
	margin: 0;
	font-family: 'PT Sans', sans-serif;
}

form, button, input {
	font-family: 'PT Sans', sans-serif;
}

input:focus, button:focus {
	outline: 0;
}

.logininput input[type="text"] {
	padding: 14px;
	height: 46px;
	border: 0;
	position: absolute;
	border-radius: 5px 0 0 5px;
	margin-top: 18px;
}

.search-settings:focus, .search-settings button:focus {
	color: #000
}

.search-settings {
	background: #d7e0fd;
	min-height: 46px;
	float: left;
}

a.search-settings>.settingsbtn {
	line-height: 40px;
	padding: 0 0px;
	font-size: 22px;
	background: url('images/sprite.png') no-repeat -12px -12px;
	width: 25px;
	height: 40px;
	margin: 10px 10px 0 10px;
	display: inline-block;
}

.searchsettings-popup {
	text-align: center;
	display: none;
	position: absolute;
	top: 90px;
	background: #fff;
	width: 292px;
	padding: 25px;
	border-radius: 5px;
	z-index: 100;
}

.searchsettings-popup h1 {
	font-size: 20px;
	text-align: center;
	color: #16a086;
	margin: 0;
	display: inline-block;
	padding: 0 0 5px 0;
	border-bottom: solid 4px #16a086;
}

.searchsettingscontent {
	width: 100%;
	float: left;
	height: 250px;
	overflow-y: auto
}

.searchsettingicon {
	background: url('images/sprite.png') no-repeat -47px -14px;
	width: 16px;
	height: 16px;
	display: inline-block;
	margin-right: 7px;
}

.mltogglebtn.disabled {
	background: #eee;
	color: #8c8c8c;
}

.mltogglebtn.enabled {
	background: #16a086;
	color: #fff !important;
}

.mltogglebtn {
	cursor: pointer;
	padding: 10px 15px;
	margin-top: 15px;
	border: none;
	font-size: 20px;
}

.mltogglebtn.disabled::before {
	border: solid 3px #888;
}

.mltogglebtn.enabled::before {
	border: solid 3px #fff;
}

.mltoggle {
	border-bottom: solid 1px #dedede;
	padding-bottom: 20px;
}

.mltogglebtn::before {
	content: '';
	width: 15px;
	height: 15px;
	background: none;
	float: left;
	border-radius: 30px;
	background: none;
	margin-right: 10px;
	margin-top: 2px;
}

.switchactive button {
	border: none;
	padding: 10px;
	float: left;
}

.switchactive button::before {
	content: '';
	width: 12px;
	height: 12px;
	background: none;
	float: left;
	border-radius: 30px;
	background: none;
	margin-right: 5px;
	margin-top: 2px;
}

.switchactive button.active {
	background: #16a086;
	color: #fff;
}

.switchactive button.inactive::before {
	border: solid 3px #888;
}

.switchactive button.active::before {
	border: solid 3px #fff;
}

.recommended {
	position: fixed;
	bottom: 0;
	width: 100%;
}



.sortby {
	padding: 15px 0;
	text-align: left;
	float: left;
	width: 100%;
}

.sortby label {
	margin-bottom: 10px;
	margin-top: 10px;
	float: left;
	width: 100%;
}

.searchsettings-popup .arrowpopup {
	top: -15px;
	position: absolute;
	font-size: 22px;
	left: 18px;
	color: #fff;
}

button, input, optgroup, select, textarea {
	font: -webkit-small-control;
}

.form-control {
	height: 50px;
}