<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>IijpPortal</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ValidateServlet</display-name>
    <servlet-name>ValidateServlet</servlet-name>
    <servlet-class>com.iijp.servlet.ValidateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ValidateServlet</servlet-name>
    <url-pattern>/ValidateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PostJobsServlet</display-name>
    <servlet-name>PostJobsServlet</servlet-name>
    <servlet-class>com.iijp.servlet.PostJobsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PostJobsServlet</servlet-name>
    <url-pattern>/PostJobsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BranchServlet</display-name>
    <servlet-name>BranchServlet</servlet-name>
    <servlet-class>com.iijp.servlet.BranchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BranchServlet</servlet-name>
    <url-pattern>/BranchServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DepartmentServlet</display-name>
    <servlet-name>DepartmentServlet</servlet-name>
    <servlet-class>com.iijp.servlet.DepartmentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DepartmentServlet</servlet-name>
    <url-pattern>/DepartmentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DesignationServlet</display-name>
    <servlet-name>DesignationServlet</servlet-name>
    <servlet-class>com.iijp.servlet.DesignationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DesignationServlet</servlet-name>
    <url-pattern>/DesignationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logoutservlet</display-name>
    <servlet-name>Logoutservlet</servlet-name>
    <servlet-class>com.iijp.servlet.Logoutservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logoutservlet</servlet-name>
    <url-pattern>/Logoutservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ApplyJobServlet</display-name>
    <servlet-name>ApplyJobServlet</servlet-name>
    <servlet-class>com.iijp.servlet.ApplyJobServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApplyJobServlet</servlet-name>
    <url-pattern>/ApplyJobServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditProfileservlet</display-name>
    <servlet-name>EditProfileservlet</servlet-name>
    <servlet-class>com.iijp.servlet.EditProfileservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditProfileservlet</servlet-name>
    <url-pattern>/EditProfileservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AppliedJobsServlet</display-name>
    <servlet-name>AppliedJobsServlet</servlet-name>
    <servlet-class>com.iijp.servlet.AppliedJobsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AppliedJobsServlet</servlet-name>
    <url-pattern>/AppliedJobsServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>Filter1</display-name>
    <filter-name>Filter1</filter-name>
    <filter-class>com.filter.Filter1</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>Filter1</filter-name>
    <url-pattern>/Filter1</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>Filter1</filter-name>
    <servlet-name>ValidateServlet</servlet-name>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>ApproveServlet</display-name>
    <servlet-name>ApproveServlet</servlet-name>
    <servlet-class>com.iijp.servlet.ApproveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApproveServlet</servlet-name>
    <url-pattern>/ApproveServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RejectServlet</display-name>
    <servlet-name>RejectServlet</servlet-name>
    <servlet-class>com.iijp.servlet.RejectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RejectServlet</servlet-name>
    <url-pattern>/RejectServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InboxServlet</display-name>
    <servlet-name>InboxServlet</servlet-name>
    <servlet-class>com.iijp.servlet.InboxServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InboxServlet</servlet-name>
    <url-pattern>/InboxServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckApproveServlet</display-name>
    <servlet-name>CheckApproveServlet</servlet-name>
    <servlet-class>com.iijp.servlet.CheckApproveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckApproveServlet</servlet-name>
    <url-pattern>/CheckApproveServlet</url-pattern>
  </servlet-mapping>
</web-app>