<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>WebApp3</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>TakeOrder</display-name>
    <servlet-name>TakeOrder</servlet-name>
    <servlet-class>view.TakeOrder</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TakeOrder</servlet-name>
    <url-pattern>/TakeOrder</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowOrder</display-name>
    <servlet-name>ShowOrder</servlet-name>
    <servlet-class>view.ShowOrder</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowOrder</servlet-name>
    <url-pattern>/ShowOrder</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowMenu</display-name>
    <servlet-name>ShowMenu</servlet-name>
    <servlet-class>view.ShowMenu</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowMenu</servlet-name>
    <url-pattern>/ShowMenu</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegularCustOffers</display-name>
    <servlet-name>RegularCustOffers</servlet-name>
    <servlet-class>view.RegularCustOffers</servlet-class>
      <init-param>
    <param-name>deevanshu</param-name>
   	<param-value>java:OracleDS</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegularCustOffers</servlet-name>
    <url-pattern>/RegularCustOffers</url-pattern>
    
  </servlet-mapping>
  
  <context-param>
  <param-name>deevanshu</param-name>
  <param-value>java:OracleDS</param-value>
  </context-param>
  
  
  <servlet>
    <description></description>
    <display-name>OrderStatus</display-name>
    <servlet-name>OrderStatus</servlet-name>
    <servlet-class>view.OrderStatus</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderStatus</servlet-name>
    <url-pattern>/OrderStatus</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>view.CtxListener</listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>CorporateCustOffers</display-name>
    <servlet-name>CorporateCustOffers</servlet-name>
    <servlet-class>view.CorporateCustOffers</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CorporateCustOffers</servlet-name>
    <url-pattern>/CorporateCustOffers</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BillGenerate</display-name>
    <servlet-name>BillGenerate</servlet-name>
    <servlet-class>view.BillGenerate</servlet-class>
  
  </servlet>
  <servlet-mapping>
    <servlet-name>BillGenerate</servlet-name>
    <url-pattern>/BillGenerate</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>com.pack.listener.Listener1</listener-class>
  </listener>
</web-app>