<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>CookieDemo</display-name>
  <welcome-file-list>
    <welcome-file>login.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>CookieServlet</servlet-name>
    <servlet-class>CookieServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RetrieveCookie</servlet-name>
    <servlet-class>RetrieveCookie</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CookieServlet</servlet-name>
    <url-pattern>/cook</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RetrieveCookie</servlet-name>
    <url-pattern>/ret</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DemoJSession</display-name>
    <servlet-name>DemoJSession</servlet-name>
    <servlet-class>DemoJSession</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DemoJSession</servlet-name>
    <url-pattern>/DemoJSession</url-pattern>
  </servlet-mapping>
</web-app>