<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>EmployeeManagementSystem</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ListEmployees</display-name>
    <servlet-name>ListEmployees</servlet-name>
    <servlet-class>com.infogain.view.ListEmployees</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListEmployees</servlet-name>
    <url-pattern>/ListEmployees</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddEmployeeFormServlet</display-name>
    <servlet-name>AddEmployeeFormServlet</servlet-name>
    <servlet-class>com.infogain.view.AddEmployeeFormServlet</servlet-class>
    <init-param>
      <description></description>
      <param-name>department-list</param-name>
      <param-value>HR,Finance,Training,Recruitment,Others</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddEmployeeFormServlet</servlet-name>
    <url-pattern>/add_employee.view</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddEmployee</servlet-name>
    <servlet-class>com.infogain.controller.AddEmployeeServlet</servlet-class>
  </servlet>
    <servlet-mapping>
    <servlet-name>AddEmployee</servlet-name>
    <url-pattern>/add_employee.do</url-pattern>
  </servlet-mapping>
      <servlet>
    <servlet-name>Success</servlet-name>
    <servlet-class>com.infogain.view.SuccessServlet</servlet-class>
  </servlet>
    <servlet-mapping>
    <servlet-name>Success</servlet-name>
    <url-pattern>/success.view</url-pattern>
  </servlet-mapping>
</web-app>