<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Filter</display-name>
  <welcome-file-list>
    <welcome-file>Servlet.Servlet1</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Servlet1</display-name>
    <servlet-name>Servlet1</servlet-name>
    <servlet-class>Servlet.Servlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet1</servlet-name>
    <url-pattern>/Servlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Servlet2</display-name>
    <servlet-name>Servlet2</servlet-name>
    <servlet-class>Servlet.Servlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet2</servlet-name>
    <url-pattern>/Servlet2</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>Filter1</display-name>
    <filter-name>Filter1</filter-name>
    <filter-class>Filter.Filter1</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>Filter1</filter-name>
    <servlet-name>Servlet1</servlet-name>
  </filter-mapping>
  <filter>
    <display-name>Filter2</display-name>
    <filter-name>Filter2</filter-name>
    <filter-class>Filter.Filter2</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>Filter2</filter-name>
    <servlet-name>Servlet2</servlet-name>
  </filter-mapping>
  <filter>
    <display-name>Filter3</display-name>
    <filter-name>Filter3</filter-name>
    <filter-class>Filter.Filter3</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>Filter3</filter-name>
    <url-pattern>/Filter3</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>Filter4</display-name>
    <filter-name>Filter4</filter-name>
    <filter-class>Filter.Filter4</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>Filter4</filter-name>
    <url-pattern>/Servlet2</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>filter7</display-name>
    <filter-name>filter7</filter-name>
    <filter-class>filter7</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>filter7</filter-name>
    <url-pattern>/Servlet2</url-pattern>
    <dispatcher>FORWARD</dispatcher>
  </filter-mapping>
  <filter>
    <display-name>Filter5</display-name>
    <filter-name>Filter5</filter-name>
    <filter-class>Filter.Filter5</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>Filter5</filter-name>
    <servlet-name>Servlet1</servlet-name>
  </filter-mapping>
  <filter-mapping>
    <filter-name>Filter5</filter-name>
    <servlet-name>Servlet2</servlet-name>
  </filter-mapping>
  <filter>
    <display-name>f1</display-name>
    <filter-name>f1</filter-name>
    <filter-class>Servlet.f1</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>f1</filter-name>
    <servlet-name>Servlet1</servlet-name>
    <dispatcher>REQUEST</dispatcher>
  </filter-mapping>
</web-app>